<%
    const dataSettingsGuildName = data.settingsGuildName;
    const dataSettingsRequestUrl = data.settingsRequestUrl;
    const dataRecaptchaSiteKey = data.recaptchaSiteKey;
%>
<!DOCTYPE html>
<!--
     _ _                       _       _              _               _           _
  __| (_)___  ___ ___  _ __ __| |  ___| |_ ___  _ __ | | _____ _ __  | |__   ___ | |_
 / _` | / __|/ __/ _ \| '__/ _` | / __| __/ _ \| '_ \| |/ / _ \ '__| | '_ \ / _ \| __|
| (_| | \__ \ (_| (_) | | | (_| | \__ \ || (_) | | | |   <  __/ |    | |_) | (_) | |_
 \__,_|_|___/\___\___/|_|  \__,_| |___/\__\___/|_| |_|_|\_\___|_|    |_.__/ \___/ \__|

 Made with love by @mrjackyliang
 Fork or contribute at https://liang.nyc/dsb
-->
<html lang="en">
    <head>
        <title>Join <%= dataSettingsGuildName %> Discord</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="//www.google.com/recaptcha/api.js" async defer></script>
        <script type="text/javascript">
            /**
             * On submit.
             *
             * @param {string} sessionToken - Session token.
             *
             * @returns {void}
             *
             * @since 1.0.0
             */
            function onSubmit(sessionToken) {
                jQuery(($) => {
                    $.post(`<%= dataSettingsRequestUrl %>`, {
                        token: sessionToken,
                    }, (success) => {
                        console.log('Google reCAPTCHA verification success');

                        window.location.replace(success);
                    }).fail((fail) => {
                        console.error('Google reCAPTCHA verification failed');

                        $("#error").html(`<span>${fail.responseText} Please contact your server administrator.</span>`);
                    });
                });
            }
        </script>
        <style>
            body {
                font-family: Helvetica, Arial, sans-serif;
                margin: 0;
                padding: 0;
            }

            #content {
                display: flex;
                height: 100vh;
                text-align: center;
                flex-direction: column;
                justify-content: center;
            }

            #content .container {
                margin: 5vh;
            }

            #content #title h1,
            #content #title p {
                margin: 25px 0;
            }

            #content #error span {
                display: block;
                background-color: #ffe0e0;
                color: #ba3939;
                margin-bottom: 15px;
                padding: 15px;
                border-radius: 5px;
                border: 1px solid #a33a3a;
            }

            #content .g-recaptcha div {
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <div class="container">
                <div id="title">
                    <h1>Join <%= dataSettingsGuildName %> Discord</h1>
                    <p>Congratulations! You are now using the <strong>custom</strong> invite template.</p>
                </div>
                <div id="form">
                    <noscript>
                        <p>JavaScript is required to view the Google reCAPTCHA widget.</p>
                    </noscript>
                    <div id="error"></div>
                    <div class="g-recaptcha" data-sitekey="<%= dataRecaptchaSiteKey %>" data-callback="onSubmit"></div>
                </div>
            </div>
        </div>
    </body>
</html>
