<%
// Default variables you can use.
const dataSettingsGuildName = data.settingsGuildName;
const dataSettingsGuildMemberCount = data.settingsGuildMemberCount;
const dataSettingsPremiumTier = data.settingsGuildPremiumTier;
const dataSettingsRequestUrl = data.settingsRequestUrl;
const dataRecaptchaSiteKey = data.recaptchaSiteKey;
%>
<!DOCTYPE html>
<!--
     _ _                       _       _              _               _           _
  __| (_)___  ___ ___  _ __ __| |  ___| |_ ___  _ __ | | _____ _ __  | |__   ___ | |_
 / _` | / __|/ __/ _ \| '__/ _` | / __| __/ _ \| '_ \| |/ / _ \ '__| | '_ \ / _ \| __|
| (_| | \__ \ (_| (_) | | | (_| | \__ \ || (_) | | | |   <  __/ |    | |_) | (_) | |_
 \__,_|_|___/\___\___/|_|  \__,_| |___/\__\___/|_| |_|_|\_\___|_|    |_.__/ \___/ \__|

 Made with love by @mrjackyliang
 Fork or contribute at https://liang.nyc/dsb
-->
<html lang="en">
    <head>
        <title>Join Discord - <%= dataSettingsGuildName %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="//www.google.com/recaptcha/api.js" async defer></script>
        <script type="text/javascript">
            /**
             * On submit.
             *
             * @param {string} sessionToken - Session token.
             *
             * @returns {void}
             *
             * @since 1.0.0
             */
            function onSubmit(sessionToken) {
                jQuery(($) => {
                    $.post(`<%= dataSettingsRequestUrl %>`, {
                        token: sessionToken,
                    }, (success) => {
                        console.log('Google reCAPTCHA verification success', success);

                        $("#messages").html(`<span style="background-color: var(--global-color-success);">Thanks for verifying! Please wait while we redirect you to Discord…</span>`);

                        setTimeout(() => {
                            window.location.href = success.url;
                        }, 1000);
                    }).fail((fail) => {
                        console.error('Google reCAPTCHA verification failed', fail);

                        $("#messages").html(`<span style="background-color: var(--global-color-error);">${fail.responseJSON.error} Please contact your server administrator.</span>`);
                    });
                });
            }
        </script>
        <style>
            html {
                --global-color-white: #fff;
                --global-color-success: #00b74a;
                --global-color-error: #f93154;
                --global-color-warning: #ffa900;
                --global-color-information: #39c0ed;
            }

            body {
                font-family: Helvetica, Arial, sans-serif;
                margin: 0;
                line-height: 1.5;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 20px 0;
            }

            p {
                margin: 20px 0;
            }

            #content {
                display: flex;
                width: 100vw;
                height: 100vh;
                margin: 20px;
                text-align: center;
                flex-direction: column;
                justify-content: center;
            }

            #content #messages span {
                display: block;
                background-color: var(--global-color-information);
                color: var(--global-color-white);
                margin: 0 0 20px;
                padding: 15px;
                font-size: 14px;
                border-radius: 3px;
            }

            #content .g-recaptcha div {
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <div id="title">
                <h1>Join <%= dataSettingsGuildName %> Discord</h1>
                <p>Congratulations! You are now using the <strong>custom</strong> invite template.</p>
            </div>
            <div id="messages">
                <noscript>
                    <span style="background-color: var(--global-color-warning);">Oops! JavaScript needs to be enabled in your browser before you can join.</span>
                </noscript>
            </div>
            <div id="form">
                <div class="g-recaptcha" data-sitekey="<%= dataRecaptchaSiteKey %>" data-callback="onSubmit"></div>
            </div>
        </div>
    </body>
</html>
